:root {
    --max-width: 1200px;
    --hero-secondary-text: #E5E7EB;
    --hero-main-text: #F9FAF8;
    --button-background: #3882F6;
    --dark-background: #1F2937;
    --end-of-section-margin: 120px;
    --quote-background: #E5E7EB;
    --quote-text: #1F2937;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited, a:active {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--button-background);
    color: white;
    padding: 5px 24px;
    border-radius: 8px;
    border-color: transparent;
}

.placeholder {
    background-color: var(--button-background);
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/* Header */
.header-wrapper {
    background-color: var(--dark-background);
}

header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0 auto;
    margin-top: 16px;
    max-width: var(--max-width);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    color: var(--hero-secondary-text);
}

.header-logo {
    font-size: 24px;
    color: var(--hero-main-text);
    font-weight: bold;
    margin-right: 16px;
}

.links,
.header-logo {
    flex: 0 0 auto;
}


/* Hero */
.hero-wrapper {
    background-color: var(--dark-background);
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: var(--end-of-section-margin) auto;
    max-width: var(--max-width);
}

.hero .info {
    flex: 1 1 0;
    min-width: 450px;
    text-align: justify;
}

.hero .info .title {
    font-size: 48px;
    font-weight: bold;
    color: var(--hero-main-text);
}

.hero .info p {
    font-size: 18px;
    margin: 8px 0;
    color: var(--hero-secondary-text);
}

.hero img {
    flex: 0 1 auto;
    width: 550px;
    min-width: 450px;
    height: auto;
}

.hero button:hover {
    border-color: white;
}

/* Cards */
.cards-content-wrapper {
    background-color: white;
}

.cards-content {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: var(--end-of-section-margin);
    max-width: var(--max-width);
}

.cards-content .title {
    color: var(--dark-background);
    text-align: center;
    margin-bottom: 32px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 200px;
    height: auto;
}

.card img {
    flex: 0 0 auto;
    width: 200px;
    height: auto;
}

.card img:hover {
    transform: scale(1.05);
}

.card p {
    margin-top: 6px;
    margin-bottom: 0;
    color: var(--dark-background);
    width: 100%;
    flex: 1 1 auto;
    text-align: center;
}

.card-title {
    color: var(--dark-background);
    margin-top: 8px;
}

/* Quote section */
.quote-section-wrapper {
    background-color: var(--quote-background);
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--end-of-section-margin) auto;
    max-width: var(--max-width);
}

.quote-section .quote,
.quote-section .author {
    color: var(--quote-text);
}

.quote-section .quote {
    width: 100%;
    text-align: start;
    font-size: 36px;
    font-style: italic;
}

.quote-section .author {
    width: 100%;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}

/* Call to action section */
.call-to-action-wrapper {
    background-color: white;
}

.call-to-action {
    margin: var(--end-of-section-margin) auto;
    max-width: var(--max-width);
    height: auto;
    background-color: var(--button-background);
    border-radius: 8px;
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.call-to-action .text {
    flex: 1 1 auto;
}

.call-to-action button {
    flex: 0 0 auto;
}

.call-to-action .text {
    color: white;
}

.call-to-action button {
    border-color: white;
}

.call-to-action button:hover {
    border-color: var(--dark-background);
}

/* Footer */
.footer-wrapper {
    background-color: var(--dark-background);
}

footer {
    max-width: var(--max-width);
    margin: 32px auto;
}

footer p {
    color: var(--hero-secondary-text);
    text-align: center;
}

footer a {
    text-decoration: underline;
}